@import url("https://fonts.googleapis.com/css?family=Caveat|Chonburi|Itim");
#Caveat {
    font-family: 'Caveat';
}

#Itim {
    font-family: 'Itim';
}

#Chonburi {
    font-family: 'Chonburi';
}